

/* Left Side bar */
/* Increase size of page breaks */
#builder #tree-target.jstree li[rel~="page"]>a::before {
    border-width: 2px !important;
    border-color: rgba(0,0,0,0.5) !important;
    margin: 0 !important;
}
#builder .daTree li[rel~=page] {
    height: 6px !important;
    min-height: 0 !important;
}
#builder .daTree li[rel~=page] a {
    padding: 2px 0 !important;
    margin-top: -1px !important;
}
#builder .daTree li[rel~=page] .jstree-icon {
    height: 0 !important;
}
/* Remove card drop shadow and margin */
li.jstree-leaf a, li.jstree-open a {
    box-shadow: none !important;
    margin: 0 !important;
}

/* Fix height of list item at 12px */
li.jstree-leaf.page {
    height: 12px !important;
}

/* Change color of term icon to red */
li.jstree-leaf[rel~="terminate"]>a i {
    color: red !important;
}

/* Change color of quota icon to blue */
li.jstree-leaf[rel~="quota"]>a i {
    color: #1a58bc !important;
}

/* Decrease label size and clear background */
li.jstree-leaf a span.element-pill {
    font-size: 12px !important;
    padding: 0 !important;
    background: none !important;
}

/* Increase icon size */
li.jstree-leaf a span.element-pill i {
    font-size: 16px !important;
}

/* Add left border to nested items */
li.jstree-open ul li {
    border-left: 1px solid rgba(0,0,0,0.5) !important;
}

/* increase width of resize handle */
.framework #splitStage .vsplitbar {
    width: 8px !important;
    z-index: 100 !important;
}

/* Modal */

div.logicSelectors.p-0 {
    border: 1px solid rgba(0,0,0,0.2) !important;
}

.ui-dialog-content.ui-widget-content {
    border: 1px solid rgba(0,0,0,0.2) !important;
}
.ui-dialog.ui-widget.ui-corner-all {
    padding: 10px 0 !important;
}
.ui-dialog.ui-widget.ui-corner-all .ui-dialog-titlebar {
    padding-bottom: 10px !important;
}
.ui-dialog.ui-widget.ui-corner-all .ui-dialog-titlebar .ui-dialog-titlebar-close {
    top: 15px !important;
}
.ui-dialog.ui-widget.ui-corner-all .ui-dialog-buttonpane {
    padding-top: 10px !important;
}
.ui-dialog.ui-widget.ui-corner-all .ui-dialog-buttonpane button {
    margin-bottom: 0 !important;
}

.ui-dialog-content {
    max-height: 700px !important;
}

.logic-conditions .logicCodeBox #cond_value {
    margin: 4px 0 !important;
    height: 30px !important;
}
.logic-conditions .logicTopBox {
    padding-bottom: 80px !important;
}
.logic-conditions .logicBoxArrows .addLogicBox {
    background: rgba(0,0,0,0.1) !important;
    border: 1px solid rgba(0,0,0,0.1) !important;
}
.logic-conditions .logicSelectors {
    max-height: none !important;
    height: 450px !important;
}
.ui-dialog.ui-widget.ui-corner-all .ui-dialog-content {
    max-height: none !important;
    height: 600px !important;
}
.optionContainer input[type=checkbox] {
    width: auto !important;
}
.loopConfigContent {
    max-height: none !important;
    height: 100% !important;
}

/* main content */
.questionBuilder .cell-item.optionFocus .item-table {
    background-color: rgba(27,115,179,0.4) !important;
}

.questionBuilder .cell-item.optionFocus:hover .item-table {
    background-color: rgba(27,115,179,0.6)  !important;
}

.questionBuilder .cell-item:hover .item-table {
    background-color: rgba(27,115,179,0.2) !important;
}

div.pseudo-input.title.js-rte.js-rte-full.js-title.form-control.form-textfield-input {
    font-size: 0.9rem !important;
    min-height: 2rem !important;
}

div.pseudo-input.comment.js-comment.js-rte.js-rte-full.form-control.form-textfield-input {
    font-size: 0.8rem !important;
    min-height: 2rem !important;
}

.rangeTemplate input {
    min-height: 30px !important;
    width: auto !important;
}

button.js-button-newCell.btn.btn-default.mt-1 {
    border: 1px solid rgba(0,0,0,0.1) !important;
    background-color: rgba(62,84,103,0.15) !important;
}

div.quotaFields div {
    max-width: 500px !important;
}

div.d-flex.cell-wrapper.square {
    min-width: 20px !important;
}

button.dux-button {
    border: 1px solid rgba(0,0,0,0.2) !important;
}

button.btn-secondary.clickable.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    border: 1px solid rgba(0,0,0,0.1) !important;
}

button.btn.btn-utility {
    border: 1px solid rgba(0,0,0,0.2) !important;
}

div.stageElementArea {
    bottom: 50px !important;
}

div.stageControlBar.top {
    border-bottom: 1px solid rgba(0,0,0,0.5) !important;
    background-color: transparent !important;
    height: 49px !important;
}

div.stageControlBar.bottom {
    border-top: 1px solid rgba(0,0,0,0.5) !important;
    background-color: #FFF !important;
}

div.question.builderElement.radio {
    padding: 0 !important;
}

div.config-el.floatcontainer.optionFocus {
    border-radius: 0 !important;
}

div.elementTop.options.floatcontainer.py-2 {
    border-radius: 0 !important;
}

div.optionsMenu .qn-label-type .uiMenuLeft, div.optionsMenu .qn-label-type .uiMenuRight {
    display: inline-block !important;
    width: auto !important;
    margin-left: 2px !important;
}
.OPT_question_type, .menu-data-value {
    margin-left: 0;
}

/* left pane lock button */
#leftPane .surveyElementsHeader a.locked {
    color: red;
}